<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body class="login">
    <main>
        <div class="card loginForm">
            <h4 class="card-title">Registro de cuenta</h4>
            <form action="POST">
                <label for="" class="form-label">Nombre*</label>
                <input type="text" class="form-control ntnll" id="nombre" value="" required>
                <label for="" class="form-label">Apellido Paterno*</label>
                <input type="text" class="form-control ntnll" id="apellidop" value="" required>
                <label for="" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" id="apellidom" value="">
                <label for="" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" value="" required>
                <label for="" class="form-label">Correo</label>
                <input type="text" class="form-control" id="correo" value="" required>
                <label for="" class="form-label">Usuario*</label>
                <input type="text" class="form-control ntnll" id="user" value="" required>
                <label for="" class="form-label">Contraseña*</label>
                <input type="password" class="form-control ntnll" name="pass" id="pass" placeholder="">
                <label for="" class="form-label">Repita la contraseña por favor*</label>
                <input type="password" class="form-control ntnll" name="pass2" id="pass2" placeholder="">
                <label class="form-label" id="mensaje"></label>
                <hr>
                <button type="button" class="btn btn-primary" onclick="registrar()">Registrarse</button>
                <br>
            </form>
            <p>Ya tienes una cuenta? <a href="/iniciar_sesion">Iniciar sesion</a></p>
        </div>
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    <script>
        function verificarCamposImportantes(){
            var arregloh=document.getElementsByClassName('form-control ntnll');
            var arreglov=[]
            var j=0;
            for(var i=0;i<arregloh.length;i++){
                if(arregloh[i].value===""){
                    j++;
                    arreglov.push(j);
                }
            }
            if(arreglov.length>0){
                if(arreglov.length===1){
                    document.getElementById('mensaje').innerHTML=`Hay ${arreglov.length} campo requerido (*) vacio.<br>Por favor, rellene la informacion solicitada.`;
                }
                else{
                    document.getElementById('mensaje').innerHTML=`Hay ${arreglov.length} campos requeridos (*) vacios.<br>Por favor, rellene la informacion solicitada.`;
                }
                return true;
            }else{
            return false;
            }
        }
        function verificarContrasenias(){
            if(document.getElementById('pass').value!==document.getElementById('pass2').value){
                document.getElementById('mensaje').insertAdjacentHTML("beforeend",'<br>Las contraseñas no son las mismas, vuelva a intentarlo.');
                return true;
            }
            if(document.getElementById('pass').value.includes('/')==true){
                document.getElementById('mensaje').insertAdjacentHTML("beforeend",'<br>Por favor, no utilize el simbolo "/".');
                return true;
            }
            
                return false;
            
        }
        function registrar(){
            document.getElementById('mensaje').innerHTML="";
            if (verificarCamposImportantes()===true||verificarContrasenias()===true){
                
            }
            else{
                var nombre = document.getElementById('nombre').value;
                var apellidop = document.getElementById('apellidop').value;
                var apellidom = document.getElementById('apellidom').value;
                var telefono = document.getElementById('telefono').value;
                var correo = document.getElementById('correo').value;
                var usuario = document.getElementById('user').value;
                var contrasenia = document.getElementById('pass').value;
                window.location.href = `/validarr?nombre=${nombre}&apellidop=${apellidop}&apellidom=${apellidom}&telefono=${telefono}&correo=${correo}&user=${usuario}&pass=${contrasenia}`;
            }
        }
    </script>
</body>

</html>